<!DOCTYPE html>
<html>
<head>
<title>Flask app</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
</body>
<table style="width:50%">
<tr>
<th>Name</th>
<th>Creatinine Z-Score</th>
<th>Probability of Acute Kidney Injury Mortality</th>
<tr>
<td>Hamlet</td>
<td>-0.01</td>
<td>0.21</td>
</tr>
<tr>
<td>Lysander</td>
<td>1.59</td>
<td>0.22</td>
</tr>
<tr>
<td>Henry</td>
<td>-0.37</td>
<td>0.14</td>
</tr>
<tr>
<td>Juliet</td>
<td>0.18</td>
<td>0.23</td>
</tr>
<tr>
<td>Titania</td>
<td>-0.50</td>
<td>0.20</td>
</tr>
</table>
</body>
</html>
